.header
{
  background: rgb(180, 217, 240);
  padding: 10px 10px;
  /* margin: auto -16px; */
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
.header-text{
  color: white;
}
.footercontent
{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(228, 238, 240);
color: white;
text-align: right;
}
.footer_text
{
  padding-right: 10px;
  color: black;
}
.card_content
{
  background-color: rgb(188, 196, 240);
  width: 400px;
  height: auto;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  text-align: center;
  margin:10px;
}
img.img_file {
  border-radius: 100px;
  margin: auto;
  /* right: 0; */
  left: 30%;
  border: 2px solid black;
  height: 50%;
  width: 50%;
}
.img_section {
  padding: 10px;
  text-align: end;
}
.contact_list
{
  padding: 10px;
}
.col-7.c_h_section {
  text-align: center;
  margin: auto;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.contacts_card {
  padding: 20px;
  margin: auto;
  width: 50%;
}
.name_section {
  text-align: left;
  margin: auto;
}
.c_d_section
{
  text-align: center;
}
h2,.email
{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}